
.bg_gray{
    background-color: #f8f8f8;
}

.weui_cells_title.inverted
{
    background-color: black;
}

.weui_tab_bd.inverted
{
    background-color: black;
}

.normal {
	filter: invert(0%);
}

.inverted {
    filter: invert(1)
}

.bg-black{
    background-color:#3d4145
}
.bg-black:not(.weui_btn_disabled):visited{
    color:#fff
}
.bg-black:not(.weui_btn_disabled):active{
    color:rgba(255,255,255,0.4);
    background-color:#18b4ed
}